ASPNETCORE_ENVIRONMENT=Docker

# Auth
JWT__KEY=SUPER_SECRET_KEY_PLEASE_CHANGE_ME
JWT__ISSUER=AuthService.FlowAggregate
JWT__AUDIENCE=FlowAggregate
JWT__AT_LIFETIME_HOURS=3
JWT__RT_LIFETIME_DAYS=14
GOOGLE__CLIENT_ID=
GOOGLE__CLIENT_SECRET=

# Mongo
MONGO__HOST=mongo
MONGO__PORT=27017
MONGO__DB=DiplomaDB
MONGO__USER=admin
MONGO__PASS=pass123

# RabbitMQ
RABBITMQ__HOST=rabbitmq
RABBITMQ__USER=admin
RABBITMQ__PASS=admin

# Redis
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__PASS=pass123

# Hangfire
HANGFIRE__USER=admin
HANGFIRE__PASS=pass123