services:
  gateway:
    container_name: diploma-gateway
    build:
      context: ./src
      dockerfile: Gateway/Dockerfile

    ports:
      - "5000:8080"
      - "5001:8081"
    depends_on:
      - collector
    networks:
      - public
      - internal
    env_file: .env

  collector:
    container_name: diploma-collector
    build:
      context: ./src
      dockerfile: Gateway/Dockerfile
    
    depends_on:
      - rabbitmq
    networks:
      - internal
    env_file: .env

  rabbitmq:
    container_name: diploma-rabbitmq
    image: rabbitmq:4.2-management
    ports:
      - "15672:15672"
    networks:
      - internal
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_DEFAULT_USER=${RABBITMQ__USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ__PASS}

  mongo:
    container_name: diploma-mongo
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - internal
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

networks:
  public:
  internal: 