services:
  gateway:
    build:
      context: ./src
      dockerfile: Gateway/Dockerfile

    ports:
      - "5000:8080"
      - "5001:8081"
    depends_on:
      - collector
    networks:
      - public
      - internal
    environment:
    - ASPNETCORE_ENVIRONMENT=Docker

  collector:
    build: src/CollectorService
    depends_on:
      - rabbitmq
    networks:
      - internal
    environment:
    - ASPNETCORE_ENVIRONMENT=Docker

  rabbitmq:
    container_name: unfu-rabbit
    image: rabbitmq:4.2-management
    ports:
      - "15672:15672"
    networks:
      - internal
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  mongo:
    container_name: unfu-mongo
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - internal
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

networks:
  public:
  internal: 