services:
  rabbitmq:
    ports:
      - "15672:15672"

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    #restart: always
    ports:
      - "27170:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO__USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO__PASS}
      # default admin:pass
      #ME_CONFIG_BASICAUTH_USERNAME: someUserName # For browser login
      #ME_CONFIG_BASICAUTH_PASSWORD: somePassword # For browser login
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
    networks:
    - public
    depends_on:
      - mongo
